Django
beautifulsoup4
selenium
djangorestframework
loguru
uWSGI
django-cors-headers
djangorestframework-jwt
numpy
requests
twstock
pymongo
djongo
dnspython
PyMySQL
django-redis
django-anymail
djangorestframework_simplejwt
six
itsdangerous
python-dateutil
pandas