.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(39, 85, 172); */
    background-image: url("../img/photo-1542176107-f50284e217c5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-mt-1 {
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}

.btn-mt-1 {
    text-align: center;
}

.link-mt-1 {
    align-items: center;
    justify-content: center;
}
